<html>
    {% load leaflet_tags %}
    {% load geojson_tags %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
    </head>
    <body>
    {% block content %}
        {% leaflet_map "detailmap" callback="window.map_init" %}
    {% endblock %}
    <script>
        window.addEventListener("map:init", function (e) {
            var detail = e.detail;
          //  detail.map.setView([10, 10], 7);
          //console.log({{loc_list}});
          //var a = [[-104.806796, 40.0808559], [-104.806796, 40.0808559, -104.8047162, 40.058889300000004, -104.7759748, 40.060480600000005, -104.7780485, 40.08244740000001, -104.806796, 40.0808559]]


            var states = [{
                "type": "Feature",
                "properties": {"party": "Republican"},
                "geometry": {
                    "type": "Polygon",
                    "coordinates": [[
                        [-104.05, 48.99],
                        [-97.22,  48.98],
                        [-96.58,  45.94],
                        [-104.03, 45.94],
                        [-104.05, 48.99]
                    ]]
                }
            }, {
                "type": "Feature",
                "properties": {"party": "Democrat"},
                "geometry": {
                    "type": "Polygon",
                    "coordinates": [[
                        [-109.05, 41.00],
                        [-102.06, 40.99],
                        [-102.03, 36.99],
                        [-109.04, 36.99],
                        [-109.05, 41.00]
                    ]]
                }
            }];
            console.log({{loc_list|safe}})
            L.geoJSON({{loc_list|safe}}, {
                style: function(feature) {
                    switch (feature.properties.color) {
                        case 'red': return {color: "red"};
                        case 'orange':   return {color: "orange"};
                        case 'green':   return {color: "green"};
                    }
                }
            }).addTo(detail.map);
        }, false);
    </script>
    </body>
</html>