<html>
    {% load leaflet_tags %}
    {% load geojson_tags %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <style>
            #detailmap{
                height: 100% !important;
            }
        </style>
    </head>
    <body>
    {% block content %}
        {% leaflet_map "detailmap" callback="window.map_init" %}
    {% endblock %}
    <script>
        window.addEventListener("map:init", function (e) {
            var detail = e.detail;
            detail.map.setView(new L.LatLng(40.737, -73.923), 4);

            L.geoJSON({{loc_list|safe}}, {
                style: function(feature) {
                    switch (feature.properties.color) {
                        case 'red': return {color: "red"};
                        case 'orange':   return {color: "orange"};
                        case 'green':   return {color: "green"};
                    }
                },
                onEachFeature: function(feature, layer){
                    layer.bindTooltip("<img src='" + feature.properties.icon_url +"' /><br/>" + feature.properties.description);
                }
            }).addTo(detail.map);
        }, false);
    </script>
    </body>
</html>